<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.playlist.member.repository.MemberMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (login_id, email, password, nickname, name, gender, age, created_at, updated_at, is_deleted)
        VALUES (#{loginId}, #{email}, #{password}, #{nickname}, #{name}, #{gender}, #{age}, #{createdAt}, #{updatedAt}, false)
    </insert>

    <select id="findById" resultType="com.example.playlist.member.entity.Member">
        SELECT * FROM member WHERE id = #{id}
    </select>

    <select id="findByEmail" resultType="com.example.playlist.member.entity.Member">
        SELECT * FROM member WHERE email = #{email}
    </select>

    <select id="findByLoginId" resultType="com.example.playlist.member.entity.Member">
        SELECT * FROM member WHERE login_id = #{loginId}
    </select>
</mapper>